/* Header layout */
.header {
  display: flex;
  justify-content:space-evenly; /* Logo left + nav right */
  align-items: center;
  padding: 20px 40px;
  
}
.logo
{
  width: 120px;
  height: auto;
}

/* Navigation list horizontal */
.nav-list {
  list-style: none;
  display: flex;        /* horizontal layout */
  gap: 30px;            /* spacing between items */
  margin: 0;
  padding: 0;
}

/* Nav links */
.nav-list li a {
  text-decoration: none;
  color: #495e57;
  font-weight: 600;
}
.nav-list li a:hover {
  color: #f4ce14;        /* Little Lemon yellow */
}
.footer
{
  display: flex;
  flex-direction: row;
  justify-content:space-around; /* Logo left + nav right */
  align-items: center;
  padding: 20px 40px;
  
}